.footer {
    padding: 44px 56px !important; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: var(--textBlack);
}

.footer_logo {
    font-family: var(--fontOpenSans);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.96px;
}
.footer_nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}
.footer_nav-item:last-child .footer_nav-link {
    color: var(--Green, #71A894);
    font-weight: 700;
}
.footer_nav-link {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.4px;
}
