@import 'reset.css';
@import 'variable.css';
@import 'header.css';
@import 'main.css';
@import 'footer.css';
@import 'responsive.css';

body {
  font-family: var(--fontMain);
  background-color: var(--gray5);
  color: var(--textBlack);
}
button {
  font-family: var(--fontMain);
  background: var(--textBlack);
  color: var(--mainWhite);
  border: none;
  cursor: pointer;
  transition: all .3s;
}
button:hover {
  transform: scale(1.1);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
.text-center {
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.d-flex-around {
  display: flex;
  justify-content: space-around;
}
.frame {
  border-radius: 1rem;
  border: 4px solid var(--textBlack);
  background: var(--mainWhite);
}

.bounty {
  border-radius: 40px;
  background: var(--mainGreen);
  padding: 4px 8px;
  text-transform: uppercase;
  color: var(--mainWhite);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.green_btn {
  width: 220px;
  height: 64px;
  background-color: var(--mainGreen);
  border-radius: 0.5rem;
  padding: 1.25rem 1.5rem;
  font-size: 1.125rem;
}